*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root{

    font-size: 62.5%;
           
    --cor-de-fundo: hsl(0, 0%, 100%);
    --cor-texto: hsl(240, 6%, 21%);
    --cor-icone: hsl(240, 6%, 21%);
    --cor-icone-ativo: hsl(0, 0%, 100%);
    --cor-primaria: hsl(240, 9%, 89%);
    --cor-secundaria: hsl(194, 97%, 31%);
}

html.dark{
    
    --cor-de-fundo: hsl(240, 7%, 14%);
    --cor-texto: hsl(240, 9%, 89%);
    --cor-primaria: hsl(240, 4%, 80%);
    
}


.sr-only{
    width: 1px;
    height: 1px;

    position: absolute;
    overflow: hidden;

    margin: -1px;
    padding: 0px;
    border: 0;
    appearance: none;
}

body{
    background: var(--cor-de-fundo);
}


body, button, a, textarea{
    font-family: 'Roboto', sans-serif;
}


#app{
    
    display: flex;
    gap: 192px;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

#timer{      
    font-size: 138px;
    font-weight: 500;
    line-height: normal;  
    
    color:var(--cor-texto);
    display: flex;
    gap: 1px;
    
}

#controles{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    gap: 40px;    
}

#controles button{
    font-size: 48px;
    line-height: normal;
    background: none;
    border: none;   
    cursor: pointer;
    color: var(--cor-texto);
}



aside{
    width: 310px;
    height: 340px;
    
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 32px;
}

.music-container{
    background-color:var(--cor-primaria);
    width: 138px;
    height: 152px;
    border-radius: 24px;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
}

.music-active{
    background-color: var(--cor-secundaria);
}

.music-container span{
    font-size: 44px;
    color:var(--cor-icone);    
}

.music-active span{    
    color:var(--cor-icone-ativo); 
}


/* controle css dark-mode*/
html.dark .ph-moon,
html:not(.dark) .ph-sun{
    display: none;
}

#trocar-modo{
    position: absolute;
    right: 3.2rem;
    top: 3.2rem;
    background: none;
    border: none;
    cursor: pointer;
    font-size: 3.2rem;
    color: var(--cor-texto);

}

/* controls
classe .rodando e music-on é adicionado na tag <html> 
via javascript
*/

.rodando .ph-play-circle,
html:not( .rodando ) .ph-pause-circle {
    display: none;
}
